*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/*
/.safedk/
/.idea/
resourses/build
.idea/misc.xml
.kotlin/sessions/kotlin-compiler-8993636686978229779.salive
